* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #ffe0e6;
  font-family: sans-serif;
}
main.active {
  height: 200vh;
}
main {
  height: 100vh;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#text {
  opacity: 0;
  font-size: 10vmin;
  font-weight: bold;
  width: 100vw;
  text-align: center;
}

#text.active {
  transition: opacity 1s linear;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading-bar {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  height: 8px;
  background: rgb(0, 0, 0);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 1s;
  will-change: transform;
}

#loading-bar.ended {
  transform-origin: top right;
  transition: transform 0.5s ease-in-out;
}
#scroll-down.active {
  transition: opacity 1s linear;
  opacity: 1;
}
#scroll-down {
  opacity: 0;
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
#scroll-down::before,
#scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
#scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
